
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width {
  width: 80%;
  max-width: 500px;
}

.card-body p {
  font-size: 1.3rem;
}

.center {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.card-btn {
  width: 100%;
}
.btn-info {
  background-color: #06558a96;
  border: none;
  box-shadow: 1px 1px 2px #010304;
}

.btn-info:hover {
  background-color: #6089b5;
  border-color: #6089b5;
}

.btn-warning-card {
  background-color: #d4860b;
  border-color: #c87f0a;
  box-shadow: 1px 1px 3px #404f58;
}

.btn-warning-card:hover {
  background-color: #d6a559;
  border-color: #c87f0a;
}

.btn-select {
  margin: 3rem 10%;
}

.title {
  margin: 5% 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item input {
  width: 3rem;
  height: 2rem;
}

.time {
  margin-top: -1rem;
  display: flex;
  justify-content: space-around;
}

.time-input {
  max-width: 4rem;
  text-align: center;
}

.fuel-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5% 0;
  background-color: #708cabb3;
  box-shadow: -1px -1px 6px 3px #3a38384a;
  border-radius: 0.8rem;
}

.list-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fuel-actions {
  display: flex;
  margin: 2%;
  width: 100%;
  justify-content: space-evenly;
}

.fuel-actions input {
  width: 45%;
  max-width: 200px;
}

.general-body {
    margin: 4% 6%;
    border-radius: 0.8rem;
    background-color: #519bcc;
    box-shadow: 1px 1px 3px #404f58;
}

.body-add {
  display: flex;
  flex-direction: column;
  margin: 4% 12%;
  padding: 2% 15%;
  background-color: #c59425;
  box-shadow: 1px 1px 3px #8e801d;
}

.nav {
  margin-bottom: 0.8rem;
  max-width: 525px;
}

.fuel-list .card-text {
  margin: 0 10%;
}

.btn-secondary {
  width: 6.2rem;
  margin: 1rem;
}

.split-info {
  color: #02253cc4
}

.split-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  margin: 1rem;
  background: #aab3bdd6;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  color: #3d62d4d4;
}

.btn-toggle {
  color: #504848;
  background-color: #ded2d2d1;
  height: 2rem;
  box-shadow: 1px 1px 3px #404f58;
}

.toggle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.6rem;
}

@media (min-width: 500px) {
  .fuel-list {
    width: 80%;
  }

  .list-item input {
    width: 11rem;
  }
}